body {
	background-color: lightblue;
}

@font-face {
  font-family: Pirate;
  src: url(fonts/Thedarkestpearl-9Ym8Z.ttf);
}

img {
	margin-top: -10px;
	text-align: center;
	vertical-align: middle;
	width: 80px;
	height: 80px;
}

h1 {
	color: GoldenRod;
	font-family: Pirate;
	font-size: 60px;
	text-align: center;
	vertical-align: middle;
	
	background-color: rgba(21,21,21,255);
	
	overflow: hidden;
	margin-top: -8px;
	margin-bottom: 20px;
	margin-left: -8px;
	margin-right: -8px;
	padding-top: 7px;
}

.bodyText {
	width: 65%;
	margin:0 auto;
	background-color: rgba(21,21,21,255);
	text-align: center;
	color: white;
}

p1 {
	
}